@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100;400;600;700&display=swap');




:root {
  --font-family: 'Alumni Sans', sans-serif;
  --color-white: rgba(255, 255, 255, 1);
	--color-white-100: rgba(237, 237, 237, 1);
	--color-grey: rgba(186, 185, 185, 1);
	--color-grey-100: rgba(204, 222, 223, 1);
	--color-grey-200: rgba(204, 222, 223, 0.5);
	--color-green: rgba(69, 162, 158, 1);
	--color-green-100: rgba(69, 162, 158,0.5);
  --color-blue: rgba(38, 65, 85, 1);
	--color-blue-100: rgba(38, 65, 85, 0.5);
	--color-blue-200: rgba(31, 40, 51, 1);  
  --color-black: rgba(0, 0, 0, 1);  
}

